@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;1,400;1,700&display=swap%27');
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1441px){
    .large {
        font-size:36px;
    }
}
@media (min-width:425px) and (max-width: 767px){
    .small {
        font-size:20px;
    }
}
@media (width: 320px){
    .minimum {
        font-size:13px;
    }
}
@media (max-width: 375px){
    .smaller-reso {
        width: 2.5rem;
    }
}
@media (max-width: 320px){
    .smallest-reso {
        margin-top:10px;
    }
    .fixer{
        margin-left:50px;
    }
    .form-fixer{
        margin-left:20px;
    }
}
@media (max-width: 1024px){
    .header-fix {
        font-size:14px;
    }
    .hero-section {
        margin-right:20px;
    }
    .image-fix{
        width:400px;
        height:400px;
    }
    .reso-fix{
        padding:20px 20px;
    }
}
@media (min-width: 1024px){
    .home-fix {
        margin:0 auto;
    }
}
@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }

  .fade-in{
    opacity:0;
    transition: opacity 750ms ease-in;
  }

  .fade-in.appear{
    opacity: 1;
  }
  .from-left{
    transform: translateX(-80%);
  }
  .from-right{
    transform: translateX(80%);
  }
  .from-left,
  .from-right{
    transition: opacity 750ms ease-in, transform 400ms ease-in;
    opacity: 0;
  }
  .from-left.appear,
  .from-right.appear{
    transform: translateX(0);
    opacity: 1;
  }
